<!-- 
                           __ _                     _                                       _ __                    _     
   __     __ _      _ _   / _` |   ___      o O O  | |_      _ _   __ _    _ _      ___    | '_ \   ___      _ _   | |_   
  / _|   / _` |    | '_|  \__, |  / _ \    o       |  _|    | '_| / _` |  | ' \    (_-<    | .__/  / _ \    | '_|  |  _|  
  \__|_  \__,_|   _|_|_   |___/   \___/   TS__[O]  _\__|   _|_|_  \__,_|  |_||_|   /__/_   |_|__   \___/   _|_|_   _\__|  
_|"""""|_|"""""|_|"""""|_|"""""|_|"""""| {======|_|"""""|_|"""""|_|"""""|_|"""""|_|"""""|_|"""""|_|"""""|_|"""""|_|"""""| 
"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'./o--000'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-' 
 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargo Transport</title>
    <!-- CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- JAVASCRIPT -->
    <script src="app.js"></script>
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- FAVICON -->
    <link rel="fivicon" href="img/shipping.png" type="favicon">
    <!-- FONT AWESOME -->
    <script src="https://kit.fontawesome.com/b1c0bf61f1.js" crossorigin="anonymous"></script>
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Inter (primary font) -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <!-- Montserrat (secondary font) -->
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="app">
        <header>
            <nav>
                <section class="nav-container wrappers">
                    <div id="nav-left">
                        <i class="fas fa-clock"></i>
                        <span>Open Hours: {{opening}}</span>
                    </div>
                    <div id="nav-right">
                        <i class="fas fa-phone-alt"></i>
                        <span>{{phoneNumber}}</span>
                        <i class="fas fa-envelope"></i>
                        <span>{{email}}</span>
                        <div class="socials">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </section>
            </nav>
            <section id="jumbo" class="wrappers">
                <div id="jumbo-navbar" class="container d-flex space-between align-center">
                    <div id="jumbo-nav-left">
                        <div class="logo d-flex">
                            <div>NEX</div>
                            <div class="txt-color-white">GEN</div>
                        </div>
                    </div>
                    <div id="jumbo-nav-right">
                        <ul class="d-inline-flex">
                            <li class="menu-jumbo"><a class="menu-jumbo txt-color-white"
                                    v-for="(menu,index) in menuJumbotron" :href=`${menu.url}`>{{menu.name}}</a>
                                <i class="fas fa-chevron-down"></i>
                            </li>
                        </ul>
                        <a href="#">
                            <a href="#"><i class="far fa-user txt-color-white"></i></a>
                        </a>
                        <button class="btn-full-white"><a href="#section-form">GET IN TOUCH</a></button>
                    </div>
                </div>
                <div id="main-jumbo" class="container d-flex align-center">
                    <div>
                        <span class="clr-txt-acquamarine">LOGISTICS SERVICES</span>
                        <h1>CARGO TRANSPORT</h1>
                        <p class="txt-grey">Fractional or exclusive road cargo transportation to all regions with small,
                            medium and large
                            vehicles.
                        </p>
                        <button class="btn-full"><a href="#section-form">GET IN TOUCH</a></button>
                        <button class="btn-empty"><a href="#section-about">READ MORE</a></button>
                    </div>
                </div>
            </section>
        </header>
        <main>
            <!-- WHO WE ARE -->
            <section class="wrappers">
                <div id="section-about" class="bg-white">
                    <div class="d-flex">
                        <!-- about left list -->
                        <div id="about-left">
                            <span class="clr-txt-acquamarine">WHO WE ARE</span>
                            <h2>
                                Excellence in Transport
                            </h2>
                            <p class="clr-txt-darkgrey">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum velit tortor,
                                interdum sed cursus eu, sagittis ut nunc. Sed vitae tellus et arcu aliquet faucibus
                                fermentum non lacus
                            </p>
                            <p class="clr-txt-darkgrey">
                                Praesent fringilla quis massa et placerat. Mauris eu dui eget urna pellentesque gravida
                                vitae quis nibh.
                                Ut at augue tortor. Pellentesque quis suscipit magna.
                            </p>
                            <div>
                                <p class="clr-txt-darkgrey">
                                    <em>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Sed quam tortor, ultrices accumsan mauris eget, pulvinar tincidunt erat. Sed
                                        nisi nisi, rutrum sit amet elit.
                                    </em>
                                </p>
                            </div>

                            <ul class="clr-txt-darkgrey">
                                <li>Lorem ipsum dolor sit amet.</li>
                                <li>Consectetur adipiscing elit.</li>
                                <li>Integer molestie lorem at massa</li>
                                <li>Lorem ipsum dolor sit amet.</li>
                                <li>Facilisis in pretium nisl aliquet</li>
                            </ul>
                        </div>
                        <div class="plan-box">
                            <div class="icon-card d-flex">
                                <i class="fas fa-truck-loading clr-txt-acquamarine"></i>
                                <i class="fas fa-arrow-right"></i></a>
                            </div>
                            <h3>Basic Plan</h3>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <span class="price clr-txt-acquamarine">
                                $ <strong>490</strong>/ mo</span>
                            <ul>
                                <li>Fractional Load<i class="fas fa-check"></i></li>
                                <li>Refrigerate Cargo<i class="fas fa-check"></i></li>
                                <li>Regional Delivery<i class="fas fa-check"></i></li>
                                <li>Hazardous Cargo<i class="fas fa-times"></i></li>
                                <li>Mobile Tracking<i class="fas fa-times"></i></li>
                            </ul>
                        </div>
            </section>
            <!-- MAIN SERVICES -->
            <section>
                <div id="section-services" class="bg-dark-blue wrappers">
                    <div class="container d-flex space-between align-center">
                        <div id="services-incipit">
                            <span class="clr-txt-acquamarine">
                                <strong>ROAD TRANSPORT</strong>
                            </span>
                            <h2 class="txt-color-white">
                                Main
                                <span class="bg-aquamire-semi-transparent">
                                    Services
                                </span>
                            </h2>
                            <p class="txt-grey">
                                With all of this expertise and capability comes an unrivalled commitment to
                                customer service.
                                We will work hard to understand your needs in order to develop a productive,
                                long-term partnership.
                            </p>
                        </div>
                        <div id="services-button-incipit">
                            <button class="btn-empty">SEE ALL</button>
                        </div>
                    </div>
                    <!-- SERVICES CARD -->
                    <div class="container d-flex">
                        <div class="services-card-container bg-cards txt-color-white">
                            <a href="#"><i class="fas fa-arrow-right"></i></a>
                            <div class="icon">
                                <i class="fas fa-truck-loading clr-txt-acquamarine"></i>
                            </div>
                            <h3>Technology</h3>
                            <p class="txt-grey description-services">Lorem ipsum, dolor sit amet consectetur
                                adipisicing elit. Maxime aliquid tempora omnis, expedita cumque
                                reiciendis.</p>
                        </div>
                        <div class="services-card-container bg-cards txt-color-white">
                            <a href="#"><i class="fas fa-arrow-right"></i></a>
                            <div class="icon">
                                <i class="fas fa-temperature-low clr-txt-acquamarine"></i>
                            </div>
                            <h3>Reefer Cargo</h3>
                            <p class="txt-grey description-services">Lorem ipsum, dolor sit amet consectetur
                                adipisicing elit. Maxime aliquid tempora omnis,
                                expedita cumque reiciendis.</p>
                        </div>
                        <div class="services-card-container bg-cards txt-color-white">
                            <a href="#"><i class="fas fa-arrow-right"></i></a>
                            <div class="icon">
                                <i class="fas fa-boxes clr-txt-acquamarine"></i>
                            </div>
                            <h3>Dry Cargo</h3>
                            <p class="txt-grey description-services">Lorem ipsum, dolor sit amet consectetur
                                adipisicing elit. Maxime aliquid tempora omnis,
                                expedita cumque reiciendis.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div id="section-results" class="wrappers">
                    <div>
                        <div id="results-incipit">
                            <span class="clr-txt-acquamarine">
                                <strong>WHAT ARE WE DOING</strong>
                            </span>
                            <h2 class="txt-color-white">
                                Results in Numbers
                            </h2>
                            <span id="results-subtitle" class="txt-color-white">Our goal is to exceed expectations by
                                delivering the best job possible.</span>
                        </div>
                        <!-- RESULTS DATA -->
                        <div id="results-data" class="d-flex align-center space-between txt-color-white">
                            <div>
                                <span class="clr-txt-acquamarine">128</span>
                                <span>Certifications</span>
                            </div>
                            <div>
                                <span class="clr-txt-acquamarine">230</span>
                                <span>Employees</span>
                            </div>
                            <div>
                                <span class="clr-txt-acquamarine">517</span>
                                <span>Customers</span>
                            </div>
                            <div>
                                <span class="clr-txt-acquamarine">94</span>
                                <span>Countries Served</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section> <!-- /results -->
            <div class="divider">
                <svg width="150" height="100">
                    <defs>
                        <pattern width="150" height="100" id="dotted-texture" patternContentUnits="userSpaceOnUse"
                            patternUnits="userSpaceOnUse">
                            <g id="row-1">
                                <ellipse cx="5" cy="5" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="20" cy="5" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="35" cy="5" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="50" cy="5" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="65" cy="5" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="80" cy="5" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="95" cy="5" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="110" cy="5" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="125" cy="5" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="140" cy="5" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                            </g>
                            <g id="row-2">
                                <ellipse cx="5" cy="20" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="20" cy="20" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="35" cy="20" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="50" cy="20" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="65" cy="20" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="80" cy="20" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="95" cy="20" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="110" cy="20" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="125" cy="20" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="140" cy="20" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                            </g>
                            <g id="row-3">
                                <ellipse cx="5" cy="35" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="20" cy="35" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="35" cy="35" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="50" cy="35" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="65" cy="35" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="80" cy="35" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="95" cy="35" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="110" cy="35" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="125" cy="35" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="140" cy="35" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                            </g>
                            <g id="row-4">
                                <ellipse cx="5" cy="50" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="20" cy="50" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="35" cy="50" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="50" cy="50" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="65" cy="50" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="80" cy="50" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="95" cy="50" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="110" cy="50" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="125" cy="50" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                                <ellipse cx="140" cy="50" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse>
                            </g>
                        </pattern>
                    </defs>
                    <rect width="150" height="100" x="0" y="0" fill="url(#dotted-texture)"></rect>
                </svg>
            </div>
            <section>
                <!-- feedback -->
                <div id="section-feedback" class="bg-dark-blue no-wrap">
                    <div>
                        <!-- FEEDBACK INCIPIT -->
                        <div id="feedback-incipit">
                            <span class="clr-txt-acquamarine">
                                <strong>CUSTOMERS TESTIMONIALS</strong>
                            </span>
                            <h2 class="txt-size-38 txt-color-white">
                                Trusted
                                <span class="bg-aquamire-semi-transparent">
                                    Feedback
                                </span>
                            </h2>
                            <p class=" ">
                                We work intensively in search of ideals that can add up in the lives of our customers.
                                This is what moves us and we are grateful for the recognition.
                            </p>
                        </div>
                    </div>
                    <!-- FEEDBACK CARD -->
                    <div class="d-flex">
                        <div class="feedback-card-container bg-cards txt-grey">
                            <i class="fas fa-quote-right"></i>
                            <div class="img-logo">
                                <img src="assets/img/logo-1.png" alt="logo woo commerce">
                            </div>
                            <p class="subtitle-feedbacks">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Cras iaculis diam varius diam ultricies lacinia.
                            </p>
                        </div>
                        <div class="feedback-card-container bg-cards txt-grey">
                            <i class="fas fa-quote-right"></i>
                            <div class="img-logo">
                                <img src="assets/img/logo-2.png" alt="logo wordpress">
                            </div>
                            <p class="subtitle-feedbacks">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Cras iaculis diam varius diam ultricies lacinia.
                            </p>
                        </div>
                        <div class="feedback-card-container bg-cards txt-grey">
                            <i class="fas fa-quote-right"></i>
                            <div class="img-logo">
                                <img src="assets/img/logo-3.png" alt="logo pingdom">
                            </div>
                            <p class="subtitle-feedbacks">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Cras iaculis diam varius diam ultricies lacinia.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- CONTACT FORM -->
            <section>
                <div id="section-form" class="wrappers">
                    <div class="d-flex space-between align-center">
                        <div id="form">
                            <span class="clr-txt-acquamarine"><strong>SEND A MESSAGE</strong></span>
                            <h2 class="">Get in
                                <span class="clr-txt-acquamarine">Touch</span>
                            </h2>
                            <p class="clr-txt-darkgrey">
                                We will respond to your message as soon as possible.
                            </p>
                            <!-- MODULE -->
                            <form @submit="checkForm" action="#" method="post" novalidate="true">
                                <p v-if="errorsForm.length">
                                    <b>Please correct the following error(s):</b>
                                <ul>
                                    <li v-for="error in errorsForm">{{ error }}</li>
                                </ul>
                                </p>
                                <div>
                                    <input id="name" v-model="nameForm" type="text" name="name" placeholder="Name">
                                    <input id="email" v-model="emailForm" type="email" name="email" placeholder="Email">
                                </div>
                                <div>
                                    <input type="tel" id="phone" name="phone" minlength="9" placeholder="Phone"
                                        required>
                                    <select id="info-form" class="clr-txt-darkgrey" v-model="moreInfoForm"
                                        name="info-form">
                                        <option value="" disabled selected hidden>---</option>
                                        <option>Sales and Purchasing</option>
                                        <option>Financials and Accounts</option>
                                        <option>Human Resources</option>
                                        <option>Another subjects</option>
                                    </select>
                                </div>
                                <div id="text-field">
                                    <textarea placeholder="Message"></textarea>
                                </div>
                                <button class="btn-full" type="submit">SEND</button>
                            </form>
                        </div>
                        <div id="form-info">
                            <h3>Example Inc.</h3>
                            <p class="clr-txt-darkgrey">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                            <p class="clr-txt-darkgrey">Dignissimos fugiat expedita cupiditate vel obcaecati eius,
                                voluptates in placeat.</p>
                            <ul class="clr-txt-acquamarine">
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-phone-alt clr-txt-acquamarine"></i>
                                    </div>
                                    <span>{{phoneNumber}}</span>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-envelope clr-txt-acquamarine"></i>
                                    </div>
                                    <span>{{email}}</span>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-map-marker-alt clr-txt-acquamarine pd-l-2"></i>
                                    </div>
                                    <span>{{address}}</span>
                                </li>
                            </ul>
                            <button class="btn-empty clr-txt-acquamarine">VIEW MAP</button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- <footer>
                    <div id="footer" class="bg-dark-blue">
                        <div class="d-flex align-center wrappers">
                            <div id="footer-info">
                                <div class="logo d-flex">
                                    <div>NEX</div>
                                    <div class="txt-grey">GEN</div>
                                </div>
                                <p class="txt-grey">A Functional HTML Template for Corporate & Business.</p>
                                <ul class="txt-grey">
                                    <li>
                                        <i class="fas fa-phone-alt"></i>
                                        <span>{{phoneNumber}}</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-envelope"></i>
                                        <span>{{email}}</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i>
                                        <span>{{address}}</span>
                                    </li>
                                </ul>
                                <button class="btn-empty txt-grey"><a href="#section-form">GET IN TOUCH</a></button>
                            </div>
                            <div id="footer-card" v-for="(card,index) in footerLink">
                                <h3 class="txt-color-white">{{card.label}}</h3>
                                <ul>
                                    <li v-for="(link,index) in card.downMenu"><a :href=`${link.url}` class="txt-grey"><i
                                                class="fas fa-chevron-right"></i>{{link.name}}</a></li>
                                </ul>
                            </div>
                        </div>
                       
                        <div id="lower-footer" class="bg-black txt-grey txt-size-13">
                            <div class="container d-flex justif-between align-center">
                                <div>
                                    <p>{{lowerFooter.alertPiracy}}</p>
                                </div>
                                <div>
                                    <p><i class="far fa-copyright"></i> {{getCurrentYear()}} {{lowerFooter.copyright}} <a
                                            :href=`${lowerFooter.copyrightLink.url}`>{{lowerFooter.copyrightLink.name}}</a></p>
                                </div>
                            </div>
                            <a id="btn-back-top" href="#">
                                <div class="btn-back-top">
                                    <i class="fas fa-arrow-up"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </footer> -->
    </div>
</body>
</html>