// GENERAL RULES
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h2 {
  font-size: 50px;
  font-weight: 800;
  color: #21333e;
}

// utilities
.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.space-between {
  justify-content: space-between;
}

.wrappers {
  padding: 0 20%;
}
.align-center {
  align-items: center;
}

.thin {
  font-weight: 100;
}

// COLORS
.txt-color-white {
  color: white;
}

.bg-dark-blue {
  background-color: #121117;
}

.bg-black {
  background-color: black;
}

.bg-white {
  background-color: white;
}

.bg-cards {
  background-color: #191c1e;
}

.txt-grey {
  color: #bcbdbd;
}

.clr-txt-darkgrey {
  color: #69696d;
}

.clr-txt-acquamarine {
  color: #00a6a6;
}

// ready to use
// font-family: 'Montserrat', sans-serif;

// HEADER
.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 45px;
  background-color: #0f2131;
  color: #ffffff;
  padding: 0 20%;
  color: #bcbdbd;
  font-weight: 500;
  font-size: 0.9rem;

  nav i {
    align-items: center;
    color: #bcbdbd;
  }

  .fab,
  .far {
    color: #bcbdbd;
  }

  .socials {
    display: inline;
  }

  #nav-left {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }

  #nav-left > i {
    margin: 0 8px;
  }

  #nav-right {
    width: 41%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }

  #nav-right > i,
  #nav-right a {
    margin-left: 25px;
  }

  #nav-right .fas {
    margin-right: 8px;
  }
}

// jumbotron
#jumbo {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../assets/img/bg-9.jpg");
  opacity: 0.95;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

/* navbar jumbotron */
#jumbo-navbar {
  padding: 20px 0px;
}

#main-jumbo > div {
  color: #ffffff;
}

.logo div {
  font-weight: 700;
  letter-spacing: 4px;
  font-size: 21px;
  height: 40px;
  display: flex;
  align-items: center;
}

.logo div:first-child {
  padding-left: 20px;
  background-color: #02838480;
  border-top-left-radius: 15.5px;
  border-bottom-left-radius: 15.5px;
  color: #52bbbb;
}

.menu-jumbo {
  list-style-type: none;
}

.menu-jumbo,
#jumbo-nav-right i,
#jumbo-nav-right button {
  margin-left: 25px;
}

#jumbo-nav-right {
  z-index: 10;
}

#jumbo-nav-right li a:hover,
#jumbo-nav-right i.far:hover {
  color: #01c7c7;
}

/* main jumbotron */
#main-jumbo {
  position: absolute;
  top: 0;
  width: 30%;
  height: 100%;
}

#main-jumbo h1 {
  font-size: 72px;
  font-weight: 900;
  margin: 10px 0 25px 0;
  line-height: 1.2;
}

#main-jumbo p {
  margin-bottom: 25px;
}

.btn-empty {
  background-color: transparent;
  text-decoration: none;
  border: 1px solid #028384;
  border-radius: 30px;
  height: 42px;
  width: 170px;
  font-weight: 500;
  font-size: 17px;
}

.btn-empty:hover {
  background-color: #03aaaa;
  cursor: pointer;
  opacity: 1;
  transition: ease-out 0.5s;
}

.btn-full {
  background-color: #028384;
  text-decoration: none;
  border: none;
  border-radius: 30px;
  height: 42px;
  width: 170px;
  font-weight: 500;
  font-size: 17px;
}

.btn-full:hover {
  background-color: #03aaaa;
  cursor: pointer;
  opacity: 1;
  transition: ease-out 0.5s;
}

.btn-full-white {
  background-color: #ffffff25;
  text-decoration: none;
  border: none;
  border-radius: 30px;
  height: 42px;
  width: 170px;
  font-weight: 500;
  font-size: 17px;
}

.btn-full-white:hover {
  background-color: #028384;
  cursor: pointer;
  opacity: 1;
  transition: ease-out 0.5s;
}

// ABOUT SECTION

#section-about {
  width: 100vw;
  height: 100vh;
}

#section-about > div {
  height: 100%;
}

//  about left
#about-left {
  width: 38%;
  height: 65%;
  padding-right: 50px;
}

#about-left > span,
#about-left > h2,
#about-left > p {
  display: block;
  margin-bottom: 20px;
}

#about-left > div {
  padding: 20px;
  margin-bottom: 20px;
  border-left: 5px solid #606d75;
}

#about-left ul {
  margin-left: 18px;
}

#about-left li {
  padding: 10px 0px;
  margin-left: 3px;
  list-style: disc;
}

//   about right
.certificate img {
  width: 100px;
}

#about-right {
  height: 70%;
  width: 25%;
}

#about-right .vehicle {
  padding: 10px 0;
}

#about-right .border {
  border-bottom: 1px solid rgba(169, 169, 169, 0.625);
  border-top: 1px solid rgba(169, 169, 169, 0.625);
}

#about-right > h3 {
  display: block;
  margin-bottom: 23px;
}

#about-right .truck {
  padding: 5px;
  background-color: #5296bb25;
  margin-right: 5px;
}

#about-right .truck-info {
  margin-left: 20px;
}

#about-right .certifications {
  margin: 30px 0;
}

#about-right .certificate img {
  margin: 20px 20px 0 0;
}

/* section SERVICES */
#section-services {
  width: 100vw;
  height: 95vh;
}
#section-services > div {
  height: 40%;
}

#services-incipit {
  padding-top: 75px;
  height: 100%;
  width: 70%;
}

#services-incipit h2 {
  padding: 20px 0;
}

#services-button-incipit {
  height: 100%;
  padding-top: 175px;
}

.services-card-container {
  position: relative;
  width: calc(100% / 3);
  padding: 30px 35px;
  border-radius: 10px;
}

#section-services > div:nth-child(2) > div:nth-child(2) {
  margin: 0 20px;
}

.services-card-container > a > i {
  position: absolute;
  top: 30px;
  right: 35px;
  font-size: 20px;
  color: #16928ebb;
}

.services-card-container > a > i:hover {
  color: white;
}

#section-services .icona {
  width: 50px;
  height: 50px;
  position: relative;
}

#section-services .icona > i {
  position: absolute;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.services-card-container h3,
.services-card-container p {
  margin: 15px 0 20px 0;
}
